.input {
  padding: var(--padding-s) var(--padding);
  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: var(--border-radius-s);
}

.input::placeholder {
  font-size: var(--font-size-s);
}

.input:focus-visible {
  outline: none;
}

.input_default {
  background-color: var(--color-secondary-light);
}

.input_disabled {
  background-color: var(--color-secondary);
}

.input_editor {
  width: 100%;
}

.input_user {
  background-color: var(--color-white);
}

.editor_grey {
  background-color: var(--color-secondary-light);
}

.editor__text {
  width: 100%;
  height: 15vh;
  padding: var(--padding-s) var(--padding);
  border: none;
  border-radius: var(--border-radius-s);
  resize: none;
}

.editor__text:focus-visible {
  outline: none;
}

.editor__subtext {
  justify-self: end;
  color: var(--color-secondary-dark);
  font-size: 0.75rem;
}

.input_search {
  position: relative;
  padding: var(--padding-xs) var(--padding);
  border: 0.01rem solid var(--color-secondary);
  border-radius: var(--border-radius-s);
  background-color: var(--color-secondary);
}

.input_search::before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 1000;
  background-image: url(../../img/icons/current.svg);
}

.input_send {
  padding: var(--padding-xs) var(--padding);
  border-radius: var(--border-radius);
}

.form-elem_icon {
  position: relative;
}

.input_icon-svg {
  position: absolute;
  bottom: 1.7rem;
  right: 5%;
}

.input-messages {
  display: none;
  position: absolute;
  left: -6.4rem;
  top: -2.3rem;
  border-radius: var(--border-radius) var(--border-radius) 0
    var(--border-radius);
  border: 1px solid var(--color-secondary-dark);
  padding: var(--padding-xs);
  color: var(--color-secondary-dark);
  background-color: var(--color-white);
  font-size: var(--font-size-s);
}

.login-info_login:hover + .input-messages {
  display: block;
}

.input-messages-name {
  display: none;
  position: absolute;
  left: -6.4rem;
  top: -2.3rem;
  border-radius: var(--border-radius) var(--border-radius) 0
    var(--border-radius);
  border: 1px solid var(--color-secondary-dark);
  padding: var(--padding-xs);
  color: var(--color-secondary-dark);
  background-color: var(--color-white);
  font-size: var(--font-size-s);
}

.login-info_name:hover + .input-messages-name {
  display: block;
}

.input_icon-error-svg {
  bottom: 1.87rem;
}

.label_error {
  color: var(--color-red);
}

.input_error {
  color: var(--color-red);
  border: 0.1rem solid var(--color-red);
}

.input_error[type='password'] {
  color: var(--color-red);
}

.input__message {
  height: 0.9rem;
  color: var(--color-red);
  font-size: 0.75rem;
}

.label_validate {
  color: var(--color-green);
}

.input_validate {
  color: var(--color-green);
  border: 0.1rem solid var(--color-green);
}

.input_validate:not(:placeholder-shown) {
  color: var(--color-green);
  border: 0.1rem solid var(--color-green);
}

.input_validate[type='password'] {
  color: var(--color-green);
}

@media screen and (max-width: 575px) {
  .input_search {
    display: none;
  }
}
