:root {
    --padding: 1rem;
    --padding-m: calc(var(--padding)*1.25);
    --padding-l: calc(var(--padding)*1.5);
    --padding-xl: calc(var(--padding)*2);

    --gap-xs: calc(var(--gap)*0.5); 
    --gap-s: calc(var(--gap)*0.75);  
    --gap: 1rem;
    --gap-m: calc(var(--gap)*1.25);



    --color-primary: #9300ED;
    --color-black: #333333;


    --animation: 0.5s all;
}