.main__top {
    display: flex;
    display: none;
}

.desk-name {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.card {
    display: none;
    width: 358px;
    padding: var(--padding) var(--padding-m);
    border-radius: var(--border-radius);
    background-color: var(--color-secondary-light);
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority {
    display: inline-block;
    padding: var(--padding-xxs) var(--padding-xs);
    border-radius: var(--border-radius-s);
    color: var(--color-white);
    font-size: 0.75rem;
}

.priority_hight {
    background-color: var(--color-priority-hight);
}

.card__tools {
    display: flex;
    gap: var(--gap-xs);
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
}

.card__title {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
}

.card__descr {
    color: var(--color-secondary-dark);
}

.card__additional {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.card__assignee {
    font-weight: var(--font-weight-bold);
}

.card__line {
    width: 1px;
    height: 1rem;
    background-color: var(--color-black);
}

.line_dashed {
    border: 1px dashed var(--color-secondary);
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__date {
    color: var(--color-secondary-dark);
    font-size: 0.75rem;
}

.card__status {
    font-size: 0.75rem;
    font-weight: var(--font-weight-bold);
}