.desk {
    overflow: scroll;
    overflow-x:hidden;
}

.desk__wrap {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
}

.col {
    /* height: auto; */
    /* background-color: rgb(157, 157, 253); */
}

.col__content {
    height: auto;
    /* overflow: scroll;
    overflow-x:hidden; */
}

.col__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}