.desk {
    overflow: scroll;
    overflow-x:hidden;
}
.desk::-webkit-scrollbar {
    width: 7px;
    background-color: none;
}

.desk::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-light);
    border-radius: var(--border-radius);
}

.desk__wrap {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    gap: var(--gap);
}

.col__content {
    height: 70vh;
    overflow: scroll;
    overflow-x:hidden;
}
.col__content::-webkit-scrollbar {
    width: 7px;
    background-color: none;
}

.col__content::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-light);
    border-radius: var(--border-radius);
}

.col__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

@media screen and (max-width: 760px) {
    .desk__wrap {
        grid-template-columns: 1fr;
        row-gap: var(--gap-xs);
    }
    .col__content {
        height: 40vh;
        overflow: scroll;
        overflow-x:hidden;
    }
}