.filter {
    display: flex;
    gap: var(--gap-m);
    padding: var(--padding-xs) var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
}

.filter__elem {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    /* padding: var(--padding-z) var(--padding-m); */
}

@media screen and (max-width: 1439px) {
    .filter {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .button__text {
        display: none;
    }
}