.filter {
    display: flex;
    padding: var(--padding-xs) var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
}

.filter__elem {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--padding-z) var(--padding-m);
}