.footer {
    align-self: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: var(--gap-m);
    list-style-type: none;
}


.list_menu {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
    list-style-type: none;
    color: var(--color-secondary-dark)
}

.footer__tools {
    display: flex;
    align-items: center;
    gap: var(--gap-xxxl);
}

.language {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

@media screen and (max-width: 660px) {
    .footer {
        display: none;
    }
}