.row {
 
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: rgb(127, 231, 255);
    display: none;
}

.row__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: rgb(247, 153, 252);
}