.task-block {
    display: grid;
    grid-template-rows: 62vh 10vh;
    width: 100%;
    padding: var(--padding-m);
    background-color: var(--color-secondary-light);
    border-radius: var(--border-radius);
    
}

.task-block__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    height: 100%;
    padding: var(--padding-s);
    overflow: scroll;
    overflow-x: hidden;
}

.task-block__content::-webkit-scrollbar {
    width: 0.25rem;
}

.task-block__content::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
}

.task-block__header {
    display: flex;
    justify-content: space-between;
}

.task-block__options {
    display: flex;
    gap: var(--gap-xxxl);
}

.task-block__date,
.task-block__subtitle,
.task-block__comments {
    color: var(--color-secondary-dark);
}

.task-block__options-elem {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.file {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--padding-xxs);
    border: 0.1rem solid var(--color-black);
    border-radius: var(--border-radius);
}

.task-block__comment-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.comment__header {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

.comment__time {
    color: var(--color-secondary-dark);
}

.comment__message {
    padding: 0 0 0 var(--padding-xxl);
}

.task-block__send {
    display: flex;
    align-self: end;
    gap: var(--gap-xs);
    padding: var(--padding-s);
}