.main__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.main__wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.main__filter {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

@media screen and (max-width: 660px) {
  .main__tools {
    align-items: baseline;
  }
  .main__wrapper {
    flex-direction: column;
    align-items: end;
    gap: var(--gap-xs);
  }
}
