.background {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 45vw;
  height: 100%;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 930px) {
  .background {
    display: none;
  }
}

body {
  top: 0 !important;
}
.goog-te-banner-frame {
  display: none;
  height: 0 !important;
  visibility: hidden;
}

#google_translate_element {
  display: none;
}
