.filter {
  display: flex;
  gap: var(--gap-l);
  padding: var(--padding-xs) var(--padding);
  border-radius: var(--border-radius-s);
  background-color: var(--color-secondary);
}

.filter__elem {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  cursor: pointer;
}

.filter-popup {
  z-index: 1000;
  width: 90px;
  left: -1rem;
  position: absolute;
  top: 20px;
  padding: var(--padding-s);
  border: 0.1rem solid var(--color-secondary-light);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.filter-info {
  top: 35px;
  position: absolute;
  display: flex;
  gap: var(--gap-xs);
}

.filter-info__elem {
  padding: var(--padding-xxs) var(--padding-xs);
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-s);
  background-color: var(--color-secondary);
}

.filter-assingee__popup {
  width: 150px;
  height: 150px;
  overflow-y: scroll;
  display: none;
}

.filter-assingee__popup::-webkit-scrollbar {
  width: 0.5rem;
  background-color: none;
}

.filter-assingee__popup::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-light);
  border-radius: var(--border-radius);
}

.filter-assignee__elem {
  padding-bottom: var(--padding-xxs);
}

.filter-date__popup {
  display: none;
  width: 134px;
}

.filter-private__popup {
  display: none;
}

.filter-priority__popup {
  display: none;
}

.filter_block {
  display: block;
}

.filter__title {
  font-size: var(--font-size-s);
}

.mob-filter {
  position: absolute;
  right: 0;
  top: 35px;
  width: 30vw;
  height: 100vh;
  background-color: var(--color-secondary-light);
}

@media screen and (max-width: 1280px) {
  .filter,
  .filter-info,
  .filter-info__elem {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .button__text {
    display: none;
  }
}
