:root {
  --margin: 1rem;
  --margin-m: calc(var(--margin) * 1.25);
  --margin-l: calc(var(--margin) * 1.5);
  --margin-xl: calc(var(--margin) * 1.75);
  --padding-z: calc(var(--padding) * 0);
  --padding-xxs: calc(var(--padding) * 0.25);
  --padding-xs: calc(var(--padding) * 0.5);
  --padding-s: calc(var(--padding) * 0.75);
  --padding: 1rem;
  --padding-m: calc(var(--padding) * 1.25);
  --padding-l: calc(var(--padding) * 1.5);
  --padding-xl: calc(var(--padding) * 1.75);
  --padding-xxl: calc(var(--padding) * 2);
  --border-radius: 0.5rem;
  --border-radius-s: 0.25rem;
  --gap-xxs: calc(var(--gap) * 0.25);
  --gap-xs: calc(var(--gap) * 0.5);
  --gap-s: calc(var(--gap) * 0.75);
  --gap: 1rem;
  --gap-m: calc(var(--gap) * 1.25);
  --gap-l: calc(var(--gap) * 1.5);
  --gap-xl: calc(var(--gap) * 1.75);
  --gap-xxl: calc(var(--gap) * 2);
  --gap-xxxl: calc(var(--gap) * 3);
  --color-primary: #9300ed;
  --color-primary-dark: #7307b5;
  --color-secondary: #d9d9d9;
  --color-secondary-light: #f1f3f6;
  --color-secondary-dark: #808080;
  --color-white: #fff;
  --color-black: #333333;
  --color-red: #fb8f8f;
  --color-green: #1ac18f;
  --color-beige: beige;
  --color-priority-high: #ff6fbd;
  --color-priority-medium: #a5a6f6;
  --color-priority-low: #69bf8d;
  --font-size-s: calc(var(--font-size) * 0.85);
  --font-size: 1rem;
  --font-size-m: calc(var(--font-size) * 1.15);
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.25);
  --animation: 0.5s all;
}
.theme-light {
  --background-image: url(../../img/images/background.webp);
  --color-background-main: #fff;
  --color-background-secondary: #333333;
  --color-background-show-more: #fff;
  --color-text-main: #333333;
  --color-primary: #9300ed;
  --color-primary-dark: #7307b5;
  --color-text-secondary: #fff;
  --color-text-thirty: #808080;
  --color-card: #f1f3f6;
  --color-card-desc: #808080;
  --color-popup: #fff;

  --color-secondary: #d9d9d9;
  --color-secondary-light: #f1f3f6;
  --color-secondary-dark: #808080;
  --color-white: #fff;
  --color-black: #333333;
  --color-red: #fb8f8f;
  --color-green: #1ac18f;
  --color-beige: beige;
  --color-priority-high: #ff6fbd;
  --color-priority-medium: #a5a6f6;
  --color-priority-low: #69bf8d;
}
.theme-dark {
  --background-image: url(../../img/images/background_dark.webp);
  --color-background-main: #26003d;
  --color-background-secondary: #fff;
  --color-background-show-more: #b237ff;
  --color-text-main: #fff;
  --color-primary: #b237ff;
  --color-primary-dark: #9300ed;
  --color-text-secondary: #fff;
  --color-text-thirty: #333333;
  --color-card: #600e92;
  --color-card-desc: #fff;
  --color-popup: #600e92;
  --color-secondary-light: #f3e1ff;
  --color-secondary: #f3e1ff;
  --color-secondary-dark: #a380b8;
  --color-priority-high: #f143a0;
  --color-priority-medium: #8672f4;
  --color-priority-low: #4dc17d;
}
