body {
    position: relative;
    display: grid;
    grid-template-rows: 8vh 1fr 6vh;
    height: 100vh;
}

.main__template_task, 
.main__template_user {
    display: inline-grid;
    grid-template-rows: 11vh 75vh;
    height: 100%;
}

.main__template_task-page {
    display: inline-grid;
    grid-template-rows: 6vh 78vh;
    height: 100%;
}

.main_autorization {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 86vh;
}

.main__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
}

@media screen and (max-width: 930px) {
    .main_autorization {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }
}

@media screen and (max-width: 660px) {
    body {
        grid-template-rows: 8vh 1fr;

    }
}

@media screen and (max-width: 475px) {
    .main__template_user {
        grid-template-rows: 11vh auto;
    }
}
