.route {
    position: relative;
    display: flex;
    width: 100%;
}

.route__descr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--grey);
    font-size: 0.75rem;
    font-weight: var(--font-weight-normal);
}

.route__start {
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}

.route__svg {
    color: var(--grey);
}

.route__line {
    width: 100%;
    height: 0.25rem;
    border-radius: 2.5px;
    background-color: var(--grey);
    transition: var(--animation);
}

.route__line:hover {
    background-color: var(--white);
    border: 1px solid var(--color-primary);
}

.route__iata {
    color: var(--color-secondary);
    font-size: 0.62rem;
    font-weight: var( --font-weight-semi-bold);
}

.route__svg:hover ~ .route__iata,
.route__svg:hover {
    color: var(--color-primary);
}

.route__iata:hover ~ .route__svg,
.route__iata:hover {
    color: var(--color-primary);
}

.route__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: var(--gap);
}

.route__center-line {
    width: 100%;
    height: 1px;
    background-color: var(--grey);
}

.route__end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    gap: 13px;
}
