.tickets__side {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
    padding: var(--margin-l) var(--margin);
}

.tickets__price {
    font-size: 1.4rem;
    font-weight: var(--font-weight-bold);
}

.ticket__subtext {
    width: 90%;
    color: var(--color-orange);
    font-size: 0.75rem;
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
}