.tickets {
    width: 47vw;
    border-radius: 0.62rem;
    background-color: var(--white); 
    cursor: pointer;
    transition: var(--animation);
}
.tickets:hover {
    box-shadow: var(--shadow-elem);
}

.tickets__content {
    display: flex;
} 
