* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --margin-l: 1.1rem;
    --padding-s: 0.5rem;
    --gap-l: 2.1rem;
    --gap-xs: 0.4rem;
    --elem-radius: 0.2rem;
    --elem-transition: 0.5s;
    --main-bg: rgba(0, 0, 0, 0.277);
    --white: #ffffff;
    --color-primary: #1D80FF;
    --color-primary-hover: #1371ec;
    --color-secondary: #686868;
    --color-secondary-hover: #5c5c5c;
}

html {
    font-size: 14px;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28vw;
    border-radius: var(--elem-radius);
    background-color: var(--white);
}

.modal__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    margin: var(--margin-l);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    font-size: 1.15rem;
}

.modal__close {
    text-decoration: none;
}

.modal__text {
    color: var(--color-secondary);
    line-height: 1.5;
}

.modal__btns {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-xs);
}

.button {
    padding: var(--padding-s);
    border-radius: var(--elem-radius);
    border: none;
    cursor: pointer;
    color: var(--white);
    transition: var(--elem-transition);
}

.button_secondary {
    background-color: var(--color-secondary);
}

.button_secondary:hover {
    background-color: var(--color-secondary-hover);
}

.button_primary {
    background-color: var(--color-primary);
}

.button_primary:hover {
    background-color: var(--color-primary-hover);
}

@media screen and (max-width: 768px) {
    .modal {
        width: 70vw;
    }
}