.button {
    padding: var(--padding);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: var(--animation);
    
}

.button_primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

.button_primary:hover {
    background-color: var(--color-primary-dark);
}

.button_disabled {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.button_reset-filter {
    padding: var(--padding) var(--padding);
    background-color: var(--color-secondary-dark);
}

.button_show-more {
    margin: 0 auto;
    padding: var(--padding-xxs) var(--padding);
    border: 1px solid var(--color-secondary-dark);
    border-radius: var(--border-radius-s);
    background-color: var(--color-white);
    color: var(--color-secondary-dark);
    font-size: 0.75rem;
    cursor: pointer;
}

.button_show-more:hover {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
}