.title {
    color: var(--color-black);
    font-size: 1.5rem;
}

.title_h1 {
    font-weight: var(--font-weight-bold);
}

.title_h2 {
    font-weight: var(--font-weight-normal);
}

@media screen and (max-width: 375px) {
    .header_h2 {
        font-size: 1.25rem;
    }
}