:root {
    --margin: 1rem;
    --margin-m: calc(var(--margin)*1.25);
    --margin-l: calc(var(--margin)*1.5);
    --margin-xl: calc(var(--margin)*1.75);
    --padding-z: calc(var(--padding)*0); 
    --padding-xxs: calc(var(--padding)*0.25); 
    --padding-xs: calc(var(--padding)*0.5); 
    --padding-s: calc(var(--padding)*0.75); 
    --padding: 1rem;
    --padding-m: calc(var(--padding)*1.25);
    --padding-l: calc(var(--padding)*1.5);
    --padding-xl: calc(var(--padding)*1.75);
    --padding-xxl: calc(var(--padding)*2);
    --border-radius: 0.5rem;
    --border-radius-s: 0.25rem;
    --gap-xxs: calc(var(--gap)*0.25); 
    --gap-xs: calc(var(--gap)*0.5); 
    --gap-s: calc(var(--gap)*0.75);  
    --gap: 1rem;
    --gap-m: calc(var(--gap)*1.25);
    --gap-l: calc(var(--gap)*1.5);
    --gap-xl: calc(var(--gap)*1.75);
    --gap-xxl: calc(var(--gap)*2);
    --gap-xxxl: calc(var(--gap)*3);
    --color-primary: #9300ED;
    --color-primary-dark: #7307b5;
    --color-secondary: #D9D9D9;
    --color-secondary-light: #F1F3F6;
    --color-secondary-dark: #808080;
    --color-white: #fff;
    --color-black: #333333;
    --color-red: #FB8F8F;
    --color-green: #1AC18F;
    --color-beige: beige;
    --color-priority-hight: #FF6FBD;
    --color-priority-medium: #a5a6f6;
    --color-priority-low: #69bf8d;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.25);
    --animation: 0.5s all;
}