.tag {
    position: absolute;
    top: -0.75rem;
    padding: var(--padding-xxs) var(--padding-xs);
    border-radius: 1.25rem;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: var(--font-weight-semi-bold);
}
.tag_mob {
    left: 10px;
}

.tag_cheap {
    background-color: var(--color-green);
}

.tag_fast {
    background-color: var(--color-violet);
}