:root {
    --route-xs: 20%;
    --route-s: 40%;
    --route-m: 60%;
    --route-l: 80%;
    --route: 100%;
    --margin: 1rem;
    --margin-l: calc((var(--margin)*1.25));
    --padding-s: calc((var(--padding)*0.87));
    --padding: 1rem;
    --padding-m: calc((var(--padding)*1.37));
    --padding-l: calc((var(--margin)*1.25));
    --gap-xs: calc((var(--gap)*0.62));
    --gap-s: calc((var(--gap)*0.75));
    --gap: 1rem;
    --gap-l: calc((var(--gap)*1.25));
    --main-bg: #eff1f4;
    --white: #fff;
    --grey: #cac1ca;
    --black: #0c131d;
    --color-primary: #ff6f32;
    --color-primary-hover: #f06d36;
    --color-secondary: #0c73fe;
    --color-icons: #f54759;
    --shadow-elem: 0 1px 5px rgb(0 0 0 / 15%);
    --font-weight-normal: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --animation: 0.5s all;
}