body {
  position: relative;
  display: grid;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100vh;
  background-color: var(--color-background-main);
  transition: 0.7s all;
}

.main__template_task {
  display: inline-grid;
  grid-template-rows: 5rem 75vh;
  height: 100%;
}

.main__template_user {
  display: inline-grid;
  grid-template-rows: 5rem 75vh;
  height: 100%;
}

.main__template_task-page {
  display: inline-grid;
  grid-template-rows: 3rem 1fr;
  height: 100%;
}

.main_autorization {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 84vh;
}

.main__wrap_user {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
}

@media screen and (max-width: 930px) {
  .main_autorization {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 660px) {
  body {
    grid-template-rows: 8vh 1fr;
  }
}

@media screen and (max-width: 475px) {
  .main__template_user {
    grid-template-rows: 11vh auto;
  }
}
